[submodule "abscomp-racket"]
	path = abscomp-racket
	url = git@github.com:Kraks/abscomp.git
	ignore = dirty
[submodule "lms-clean"]
	path = lms-clean
	url = git@github.com:TiarkRompf/lms-clean.git
	ignore = dirty
[submodule "immer"]
	path = immer
	url = git@github.com:arximboldi/immer.git
	ignore = dirty

