[submodule "lms-clean"]
  path = lms-clean
  url = https://github.com/TiarkRompf/lms-clean.git
  branch = reflectEffect-mod
  ignore = dirty

[submodule "immer"]
	path = third-party/immer
  url = https://github.com/arximboldi/immer.git
  ignore = dirty

[submodule "stp"]
	path = third-party/stp
  branch = smtcomp2020
  url = https://github.com/stp/stp.git
  ignore = dirty

[submodule "z3"]
	path = third-party/z3
  branch = z3-4.8.12
  url = https://github.com/Z3Prover/z3
  ignore = dirty
