*.out
*.scala~
*.log
*.class
*.bc
*.jar
*.o
.idea
.metals
.vscode
.bsp
target
klee-out-*
gs_gen
output
benchmarks/**/*.ll
.bloop
project/project
project/metals.sbt
project/.bloop/dev-clean-build.json
project/.bloop/bloop.settings.json
.vscode/settings.json
conc_gen/*
ccbse_gen/*
headers/gensym/external.hpp
grammar/.antlr/
