[submodule "lms-clean"]
  path = lms-clean
  url = https://github.com/TiarkRompf/lms-clean.git
  branch = reflectEffect-mod
  ignore = dirty

[submodule "immer"]
  path = immer
  url = https://github.com/arximboldi/immer.git
  ignore = dirty

[submodule "stp"]
  path = stp
  branch = smtcomp2020
  url = https://github.com/stp/stp.git
  ignore = dirty
