.idea
target
*.out
*.scala~
*.log
*.class
dev-clean/.metals
dev-clean/.bloop
dev-clean/project/metals.sbt
.metals
dev-clean/snippet.c
dev-clean/snippet
dev-clean/constraints.smt2
dev-clean/solvers/snippet
dev-clean/solvers/snippet.smt2
dev-clean/solvers/solver
