output
llsc_gen/*
benchmarks/*/*.ll
.metals
.bloop
project/project
project/metals.sbt
project/.bloop/dev-clean-build.json
project/.bloop/bloop.settings.json
.vscode/settings.json
.bsp
test
conc_gen/*
ccbse_gen/*
