name: Scala CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: ./

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
    - name: Set up dependencies
      run: |
        sudo apt-get update
        sudo DEBIAN_FRONTEND=noninteractive apt-get install -y git g++ cmake bison flex libboost-all-dev python
        sudo DEBIAN_FRONTEND=noninteractive apt-get install -y perl minisat curl gnupg2 locales clang-11 wget
    - name: Generate test files
      run: |
        cd benchmarks/llvm
        make gensym
        cd ../demo-benchmarks
        make gensym
        cd ../external-lib
        make gensym
        cd ../oopsla20
        make generate_sse
        cd ../test-comp/array-examples
        make gensym
        cd ../../test-comp/array-programs
        make gensym
        cd ../../klee-posix-fs
        make
    - name: Install Z3
      run: |
        cd third-party
        wget https://github.com/Z3Prover/z3/releases/download/z3-4.8.12/z3-4.8.12-x64-glibc-2.31.zip
        unzip z3-4.8.12-x64-glibc-2.31.zip
        cd z3-4.8.12-x64-glibc-2.31
        sudo cp include/* /usr/include/
        sudo cp bin/libz3.so /usr/lib/x86_64-linux-gnu/
        sudo ldconfig
    - name: Install STP
      run: |
        cd third-party/stp
        mkdir build
        cd build
        cmake ..
        make
        sudo make install
        sudo ldconfig
    - name: Generate models
      run: sbt 'runMain gensym.GenerateExternal'
    - name: Run tests
      run: |
        sbt 'testOnly gensym.TestImpCPSGS'
        sbt 'testOnly gensym.TestImpCPSGS_Z3'
        sbt 'testOnly gensym.TestLibrary'
        sbt 'testOnly gensym.wasm.TestEval'
